* {
  text-decoration: 0;
  list-style-type: none;
}

body {
  font-family: "Roboto";
}

.header-logo,
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.nav-studio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #000000;
}

.nav-studio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-portfolio {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-portfolio:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-contacts:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-tel:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav-mail:hover {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.nav-webstudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px
}

.nav-webstudiobl {
  color: black;
}

.btn1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  border-radius: 4px;
  width: 73px;
  height: 38px;
}

.btn2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  border-radius: 4px;
  width: 125px;
  height: 38px;
}

.btn3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  border-radius: 4px;
  width: 112px;
  height: 38px;
}

.btn4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  border-radius: 4px;
  width: 103px;
  height: 38px;
}

.btn5 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  border: 0;
  border-radius: 4px;
  width: 130px;
  height: 38px;
}

.btn1:active,
.btn2:active,
.btn3:active,
.btn4:active,
.btn5:active {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: aliceblue;
}

.webstudio-wh {
  color: #ffffff;
}

.footer {
  background: #2f303a;
}

.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.poster-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.poster-page{
  flex-basis: calc((100% - 90px) / 3);
  border-radius: 0px 0px 4px 4px;
  letter-spacing: 0.03em;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  
}

img {
  width: 370px;
  height: 294px;
}

.btn-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 100px;
  padding-bottom: 56px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.section {
  padding-top: 24px;
  padding-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
} 

.contacts-list{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-left: auto;
}

.header-section{
  display: flex;
  align-items: center;
} 

.footer-list{
  padding-top: 60px;
  padding-bottom: 60px;
}

.header-navigation{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-poster{
  width: 100%;
  max-width: 1200px;
}

.work-poster{
  padding-bottom: 94px;
}

.poster-text{
  padding: 20px 24px
}

.header-page:not(:last-child){
  margin-right: 50px;
}

.footer-icons{
width: 20px;
height: 20px;
fill: #FFFFFF;
}

.footer-box{
  display: flex;
}

.footer-list-icons {
  display: flex;
  padding-top: 32px;
  gap: 10px;
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  fill: #ffffff;
  border-radius: 50%;
  background-color: #2196f3;  
}

.footer-icons-link {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title {
  padding-top: 75px;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-icons-box{
  padding-left: 156px;
}













